.all_area{
    text-align: center;
}

table{
    border: solid black 1px;
    min-width: 600px;
    height: 350px;
    margin: 20px auto 0;
    border-collapse: collapse;
    table-layout: fixed;
}


th{
    border: 1px solid;
    width:calc(100% / 7)
}

tr th:first-child{
    color: red;
}

tr th:last-child{
    color: blue;
}