.all_area{
    text-align: center;
}

#Header_year_month{
    font-weight: bold;
    font-size: larger;
}

/* #last_year_btn,
#last_month_btn,
#reset_btn,
#next_year_btn,
#next_month_btn{
    size: 100;
} */

button{
    width: 3em;
    height: 2em;
}

table{
    min-width: 600px;
    height: 350px;
    margin: 20px auto 0;
    border-collapse: collapse;
    table-layout: fixed;
}

th,td{
    border: 1px solid black;
    width:calc(100% / 7)
}

td{
    text-align: center;
}

tr th:first-child,td:first-child{
    color: red;
    background-color: rgb(250, 203, 203)
}


tr th:last-child,td:last-child{
    color: blue;
    background-color: aliceblue;
}

.no_data{
    background-color: rgb(228, 227, 227);
}